.title {
    margin-top: 80px;
    color: rgb(254 96 0);
}


.bg-tvbox {
    background-image: url('/tvbox/5555.png');
    background-size: cover;
}

.img-tv-box {
    width: 100%;
    height: 100%;
    background-image: url('/tvbox/21.png');
}