/*!***********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[3]!./app/lionz-tv-box/page.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************/
.title {
    margin-top: 80px;
    color: rgb(254 96 0);
}


.bg-tvbox {
    background-image: url('/tvbox/5555.png');
    background-size: cover;
}


/*!*******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[12].use[3]!./components/navbar.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************/
:root {
    --main-blue: #0bbde9;
    --main-orange: #fe6000;
    --backgroung: #0e192f;
  }

.navbar-lionz {
    width: 100%;
    display: flex;
    justify-content: right !important;
    align-items: center;
    margin-right: 150px;
    font-size: 30px;
}

.lionz-swiper {
    height: 120%;
}

.lionz-swiper::before {
    content: "";
    position: absolute;
    width: 150%;
    background: rgba(0, 0, 0, 0.434);
    z-index: -1;
    left: 10px;
    height: 150%;
    transform: rotate(345deg);
    border-left: 5px solid;
    -o-border-image: linear-gradient(209deg,
        var(--main-orange) 0%, var(--main-orange) 70%,
        var(--main-blue) 70%, var(--main-blue) 100%) 1;
       border-image: linear-gradient(209deg,
        var(--main-orange) 0%, var(--main-orange) 70%,
        var(--main-blue) 70%, var(--main-blue) 100%) 1;
}

.channels-lionz {
    border: 3px solid;
    border-color: var(--main-blue) var(--main-blue) var(--main-orange) var(--main-orange);
}


.lucide-check-circle {
    color: var(--main-orange);
}

h2 {
    font-size: 30px !important;
    margin-bottom: 20px;
    line-height: 1.5 !important;
}

p {
    text-align: right;
}

.price-ul {
    width: 100%;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.price-ul li {
    width: -moz-fit-content;
    width: fit-content;
    margin-left: 10px
}


